body {
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }
  
  form {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    width: 500px;
    height: 44px;
    display:flex;
    flex-direction:row;
    align-items:center;
  }

  .form-center {
    display: flex;
    justify-content: center;
    width: auto;
    flex: 1 0 auto;
  }
  
  input {
    all: unset;
    font: 16px system-ui;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }
  
  ::placeholder {
    color: #000;
    opacity: 0.7; 
  }
  
  svg {
    color: #000;
    fill: currentColor;
    width: 24px;
    height: 24px;
    padding: 10px;
  }
  
  button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
  }

  footer {
    font-family: "Roboto", sans-serif;
    font-size: 11pt;
    color: #000;
    flex-shrink: 0;
    align-items: center;
  }
